/* Default Styles */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    background: rgb(179, 26, 27);
    height: 6rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    width: 100vw; 
    z-index: 3;
}
/* Text */
.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    color: rgb(108, 104, 104);
    margin: 60px;
}

/* Change sizes for mobile devices */
@media (max-width: 768px){
    .navbar{
        height: 3.5rem;
    }
    .text {
        font-size:14px;
        margin: 50px;
    }
    #MaristLogo{
        height: 70%;
    }
    .arrows {
        height: 30vmin; /* Make arrows smaller on mobile */
    }
}

.arrows {
    display: block; 
    margin: 0 auto; 
    height: 5vmin; 
    pointer-events: none;
    animation: arrows-spin infinite 6s linear;
}
  
  @keyframes arrows-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .how{
    color: rgb(247, 247, 247);
    font-size: small;
  }
  